:root {
  --darkest: #13714C;
  --mid: #3AB67D;
  --light: #A2E494;
  --main: #E9EBED;
  --black: #000;
  --accent: #d97314;
}

body {
  background-color: var(--main);
  color: var(--dark-color);
}

.navb {
  background-color: var(--darkest);
  height: 20vh;
  width: 100%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  color: var(--main)
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Adjust z-index if needed */
}

.space {
  display: flex;
  align-items: center;
}

.space h1 {
  margin-left: 1rem; /* Adjust this value to control the space between the arrow and the header */
}

.navb p {
  margin-left: 1rem; /* Adjust this value to match the indentation of the header */
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-top: 24vh;
  z-index: -1;
  margin-bottom: 5em;
  justify-content: center;
}

.head2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  background-color: var(--darkest);
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
  padding-left: 0;
}

.nav-link img {
  filter: invert(1) brightness(2);
}

button { 
  border-radius: 20px;
  border: 1px solid var(--darkest);
  background: var(--darkest);
  color: var(--light);
  font-size: 12px;
  font-weight: bold; 
  padding: 12px 45px; 
  letter-spacing: 1px;
  text-transform: uppercase;
}

.toggle-container {
  position: fixed;
  top: 60px;
  left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  display: flex;
  width: 200px;
  background-color: var(--mid);
  border-radius: 25px;
  overflow: hidden;
  z-index: 999;
}

.toggle-container input {
  display: none;
}

.toggle-label {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.toggle-pill {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--light);
  border-radius: 25px;
  transition: transform 0.3s ease;
}

#daily:checked ~ .toggle-pill {
  transform: translateX(0);
}

#monthly:checked ~ .toggle-pill {
  transform: translateX(100%);
}

.date-selector {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 10px;
}

.daily {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.collapsible {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--darkest);
  position: relative;
  cursor: pointer;
  transition: width 0.5s, border-radius 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5em;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.315);

}

.collapsible.collapsed {
  width: 150px;
  border-radius: 10px;
}

.details {
  display: none;
  color: white;
  text-align: left;
  font-size: 0.5em;
  position: flex;
  top: 50%;
  padding-top: 8%;
  padding-left: 0;
  width: 100px;
}

.collapsible.collapsed .details {
  display: flex;
}

.number {
  color: white;
  transition: opacity 0.5s;
}

.collapsible.collapsed .number {
  opacity: 0;
}

.collapsible:nth-child(odd) {
  transform: translateX(-4em);
}

.collapsible:nth-child(odd) .details {
  left: -150px; /* Position the details to the left */
}

.collapsible:nth-child(even) {
  transform: translateX(4em);
}

.collapsible:nth-child(even) .details {
  left: 100%;
}

.circle {
  width: 4em;
  height: 4em;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0.5em 0.5em 1em gray;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;
}

.summary {
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: 1;
}

.circle.active + .summary {
  display: flex;
}


