/* .container {
    background: linear-gradient(lightblue, violet,pink);
    display: flex;
    justify-content: start;
    height: 100vh;
    width: auto;
    flex-direction: column;
    margin: 0;
    border: none;  
    overflow: hidden;
} */

.container {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 840px;
    margin: 30px auto;
    background: #595055;
    overflow: hidden;
    z-index: -5;
    box-shadow: 0 0 25px #2b2628;
    border-radius: 1em;
    /*   transform: scale(1.5); */
}

body {
    background: #4b4247;
    /*   background: #2b2628; */
}

.navb {
    height: 18vh;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.user-pic {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin-left: 1em;
}

.navb img {
    margin-left: auto;
    margin-right: 1em;
}

hr {
    border: 1px solid rgb(145, 145, 145); /* Add a visible border */
    margin-top: 1em; /* Add some margin for spacing */
    width: 100%;
  }

.box {
    width: 50vh;
    height: 3vh;
    border: 0.1em solid white;
    border-radius: 1em;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    align-content: center;
}

button {
    width: 10vh;
    background-color: black;
    border: 0.1em solid black;
    border-radius: 1em;
    font-size: large;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
}

.donut {
    display: inline-flex;
    flex-direction: column;
    height: 50vh;
    width: 50vh;
    border: 1em solid black;
    justify-content: center;
    border-radius: 50%;
}

.donut-inside {
    position: relative;
    flex-direction: column;
    height: 30vh;
    width: 30vh;
    border: 1em solid black;
    justify-content: center;
    border-radius: 50%;
}