/* .container {
    background: linear-gradient(lightblue, violet,pink);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border: none;  
    overflow: hidden;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;  /* Ensures container fits screen width */
    height: 100vh;
    align-items: center;
    margin: 0 auto;  /* Removes top and bottom margins */
    background: #433d40;
    overflow: hidden;
    z-index: -5;
    box-shadow: 0 0 25px #2b2628;
    border-radius: 1em;
}

body {
    background: #433d40;
    /*   background: #2b2628; */
}

.box {
    width: 50vh;
    height: 3vh;
    border: 0.1em solid white;
    border-radius: 1em;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    align-content: center;
}

button {
    width: 10vh;
    background-color: black;
    border: 0.1em solid black;
    border-radius: 1em;
    font-size: large;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
}