:root {
    --darkest: #13714C;
    --mid: #3AB67D;
    --light: #A2E494;
    --main: #E9EBED;
    --black: #000;
}

body {
    background-color: var(--main);
    color: var(--dark-color);
    overflow-x: hidden;
}

.navb {
    background-color: var(--darkest);
    height: 22vh;
    width: 100%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    color: var(--main)
}

.space {
    display: flex;
    align-items: center;
}

.space h1 {
    margin-left: 1rem; /* Adjust this value to control the space between the arrow and the header */
}

.navb p {
    margin-left: 3rem; /* Adjust this value to match the indentation of the header */
}

.container {
    margin-left: 3rem;
}


/* need to continue */

.goal-input, .amount-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}
.table thead th {
    white-space: nowrap;
}
.goal-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goal-cell input {
    width: 100%;
}
.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}
.table {
    width: 100%;
    table-layout: fixed;
}

.round {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom Button Styles */
.btn-custom {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}

.btn-custom-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}

.btn-custom-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}