:root {
    --darkest: #13714C;
    --mid: #3AB67D;
    --light: #A2E494;
    --main: #E9EBED;
    --black: #000;
    --accent: #d97314;
  }
  
  body {
    background-color: var(--main);
    color: var(--dark-color);
  }
  
  .navb {
    background-color: var(--darkest);
    height: 20vh;
    width: 100%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    color: var(--main)
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Adjust z-index if needed */
  }
  
  .space {
    display: flex;
    align-items: center;
  }
  
  .space h1 {
    margin-left: 1rem; /* Adjust this value to control the space between the arrow and the header */
  }
  
  .navb p {
    margin-left: 1rem; /* Adjust this value to match the indentation of the header */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin-top: 24vh;
    z-index: -1;
    margin-bottom: 5em;
    justify-content: center;
  }
  
  .head2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    background-color: var(--darkest);
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    padding-left: 0;
  }
  
  .nav-link img {
    filter: invert(1) brightness(2);
  }
  
  
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55vh;
    background-color: var(--main);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.chat-box {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main);
}
.bot-msg, .user-msg {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.bot-msg {
    background-color: var(--mid);
    align-self: flex-start;
}
.user-msg {
    background-color: var(--light);
    align-self: flex-end;
}
.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
}
input[type="text"] {
    padding: 0.8em;
    border-radius: 5px;
    border: none;
    margin-left: 1em;
    width: 100%;
}

button { 
    border: none;
  }

#send {
    color: var(--darkest);
}

#bot {
    color: var(--darkest);

}

.bot {
    background-color: var(--light);
    border-radius: 50%;
    padding: 0.5em;
}