@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-blue: #435059;
  --dark-green: #7D8274;
  --olive: #A9A793;
  --blue: #9BC1C3;
  --white: #F6F8EF;
  --brown: #655C4E;
  --accent: #435059;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  color: var(--dark-blue);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1em;
  margin: 0;
}

.head {
  margin: 1em;
  margin-bottom: 0;
}

h1 {
  font-weight: bold;
  padding-left: 0.5em;
  color: var(--dark-blue);
}

.head2 {
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  background-color: var(--olive);
  padding-left: 0;
  border: none;
}

#home {
  color: var(--white);
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--white);
}

#home1 {
  color: var(--dark-green);
}

.home1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--dark-green);
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 26em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 5em;
  background-color: var(--blue);
}

.chat-box {
  width: 100%;
  max-height: 20em;
  overflow-y: auto;
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 1em;
}

.bot-msg, .user-msg {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.bot-msg {
  background-color: var(--olive);
  align-self: flex-start;
  color: var(--dark-blue);
}

.user-msg {
  background-color: var(--white);
  align-self: flex-end;
  color: var(--dark-blue);
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1em;
}

input[type="text"] {
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  margin-left: 1em;
  width: 100%;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 0;
  border-radius: 5em;
  margin-right: 1em;
}

#send {
  color: var(--dark-blue);
}

#bot {
  color: var(--dark-blue);
}

.bot {
  background-color: var(--light);
  border-radius: 50%;
  padding: 0.5em;
}
