.goal-input,
.amount-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.table thead th,
.table tbody td {
    white-space: nowrap;
}

.goal-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goal-cell input {
    width: 100%;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

.table {
    width: 100%;
    font-size: 0.75em;
}

input[type="date"] {
    height: auto;
    background-color: var(--mid);
    border: none;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

/* Custom cell colors */
.table th {
    background-color: var(--accent); /* Light background color */
    color: var(--black); /* Darkest text color */
    text-align: center;
}

.table tbody tr td {
    background-color: var(--mid); /* Light background color */
    color: var(--white); /* Darkest text color */
    text-align: center;
    padding: 0.5em 0;
    margin: 0;
}

.table tbody tr.selected td {
    background-color: var(--mid); /* Mid-level background color for selected rows */
    color: var(--darkest); /* Darkest text color for selected rows */
}

/* Add this CSS to style the checkbox */
.table tbody tr td input[type="checkbox"] {
    margin: 0 auto; /* Center the checkbox horizontally */
    display: block; /* Ensure checkbox is displayed as a block element */
    -webkit-appearance: none; /* Remove default styling for Safari */
    -moz-appearance: none; /* Remove default styling for Firefox */
    appearance: none; /* Remove default styling */
    width: 0.1em; /* Adjust width of the checkbox */
    height: 0.1em; /* Adjust height of the checkbox */
    border: 0.1em solid var(--mid); /* Border color for the checkbox */
    border-radius: 0.3em; /* Rounded corners for the checkbox */
}

/* Style the checked state */
.table tbody tr td input[type="checkbox"]:checked {
    background-color: var(--mid); /* Change background color when checked */
}

/* Hide the default check mark */
.table tbody tr td input[type="checkbox"]::before {
    content: ''; /* Ensure no content is displayed before the checkbox */
    width: 1em; /* Width of the check mark */
    height: 1em; /* Height of the check mark */
    margin: 2px; /* Margin to position the check mark within the border */
    background-color: var(--darkest); /* Color of the check mark */
    border-radius: 2px; /* Rounded corners for the check mark */
    visibility: visible; /* Ensure the check mark is visible */
}

/* Ensure the check mark is hidden when not checked */
.table tbody tr td input[type="checkbox"]:not(:checked)::before {
    display: none; /* Hide the check mark */
}

/* Radio button styling */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0.05em;
    height: 0.05em;
    border-radius: 50%;
    background-color: var(--mid);
    border: none;
    margin-left: 4em;
}

/* Checked state */
input[type="radio"]:checked {
    background-color: var(--accent);
}

:root {
  --darkest: #1c2a18;
  --mid: #006600;
  --light: #6eea8e;
  --white: #E9EBED;
  --black: #222222;
  --accent: burlywood;
}

body {
  background: linear-gradient(300deg, var(--darkest), var(--light), var(--mid));
  background-size: 100% 200%;
  animation: gradientAnimation 30s ease infinite;
  margin: 0;
  padding: 0;
  color: var(--black);
  overflow-x: hidden;
  height: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    padding: 2em;
  }
  
  .head {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

.yeet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  
  h1 {
    color: var(--black);
    font-size: 2.2em;
    margin: 0;
  }
  
  
  .nav-link img {
    filter: invert(1) brightness(2);
  }

  .head2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }
  
  .head2 h2 {
    color: var(--white);
  }

  .btn-custom1 {
    background-color: var(--accent);
    color: var(--black);
    width: 100%;
  }


  .form-check-label {
    font-size: 0.9em;
    padding-top: 0.4em;
  }

  .date-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 0.5em;
}