@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-blue: #435059;
  --dark-green: #7D8274;
  --olive: #A9A793;
  --blue: #9BC1C3;
  --white: #F6F8EF;
  --brown: #655C4E;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  color: var(--dark-blue);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin:0
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1em;
  margin: 0;
  padding-bottom: 0;
}

.cat-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.btn-2 {
  background-color: var(--dark-blue);
  box-shadow: 2px 2px 4px rgba(28, 42, 24, 0.4);
  border: none;
  color: white; /* Ensure text color is readable */
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.btn-2:active,
.btn-2:hover {
  background-color: var(--dark-green);
  box-shadow: 2px 2px 4px rgba(28, 42, 24, 0.4);
  border: none;
  outline: none; /* Remove default focus outline */
}

h1 {
  font-weight: bold;
  padding-left: 0.5em;
  color: var(--dark-blue);
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    background-color: var(--olive);
    padding-left: 0;
    border: none;
  }

  .head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    align-items: center;
    padding-left: 2em;
  }

  #add-goal {
    padding-right: 2em;
  }

  .head3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 1em;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 5em;
  }

  .goalcard {
    background-color: var(--blue);
    border-radius: 1em;
    padding: 1em;
    padding-top: 1.5em;
  }

  .grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

#home {
  color: var(--white);
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--white);
}

#home1 {
  color: var(--dark-green);
}

.home1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--dark-green);
}

.wow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.grp p {
  margin: 0;
}

.goalcard {
  margin-bottom: 1em;
}

