@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-blue: #435059;
  --dark-green: #7D8274;
  --olive: #A9A793;
  --blue: #9BC1C3;
  --white: #F6F8EF;
  --brown: #655C4E;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
  color: var(--dark-blue);
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

img {
  height: 16em;
  width: 20em;
  margin-bottom: 3em;
}

input {
  width: 80%;
  background-color: var(--white);
  border: none;
  outline: none;
}

button { 
  border-radius: 0.5em;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 0.8em;
  padding: 12px 45px; 
  font-family: "Poppins", sans-serif;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.links button{
    color: var(--dark-blue);
    margin-top: 1em;
    background-color: transparent;
    border: none;
    font-size: 9px;
}
