@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --darkest: #13714C;
  --mid: #3AB67D;
  --light: #A2E494;
  --main: #E9EBED;
  --black: #000;
}

body {
  background-color: var(--darkest);
  color: var(--darkest);
  overflow: hidden;
  height: 100vh; 
  place-content: center; 
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.box1 {
  margin-top: 0;
}

input {
  width: 60%;
  background-color: var(--main);
  border: none;
  outline: none;
  margin-top: 0;
}

button { 
    border-radius: 20px;
    background: var(--light);
    color: var(--black);
    font-size: 12px;
    font-weight: bold; 
    padding: 12px 45px; 
    letter-spacing: 1px;
    text-transform: uppercase;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.links button{
    color: var(--main);
    margin-top: 1em;
    background-color: transparent;
    border: none;
    font-size: 10px;
}
