@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-blue: #435059;
  --dark-green: #7D8274;
  --olive: #A9A793;
  --blue: #9BC1C3;
  --white: #F6F8EF;
  --brown: #655C4E;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  color: var(--dark-blue);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin:0
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1em;
  margin: 0;
  margin-bottom: 5em;
}

h1 {
  font-weight: bold;
  padding-left: 0.5em;
  color: var(--dark-blue)
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.carousel-item {
  height: 20em;
  width: 20.5em;

}

.bank-card {
  height: 12em;
  width: 20em;
  margin-top: 2em;
  background-color: var(--white);
  color: var(--dark-blue);
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(67, 80, 89, 0.2); /* Adjusted the shadow */
}

.bank-card-name {
  padding-right: 1em;
  padding-top: 1.5em;
  font-size: 1.5em;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bank-card-number {
  margin-top: 2.2em;
  padding-left: 1.5em;
  font-size: 1em;
  text-decoration: none;
}

.bank-card-expiry {
  padding-left: 1.5em;
}

.bank-amount {
  padding-right: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  padding: 0;
}

.carousel-indicators .active {
  background-color: var(--dark-green); /* Change the background color of the active indicator */
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0; /* Reduce the opacity */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0; /* Set opacity to 1 on hover */
}

#carouselExampleIndicators {
  height: 18em;
  width: 22em;
  padding-left: 1em;
  padding-bottom: 3em;
}

.app-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 3em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em; /* Adjust the size as needed */
  height: 4em; /* Adjust the size as needed */
  border-radius: 50%;
  background-color: var(--olive);
  box-shadow: 0.1em 0.1em rgba(67, 80, 89, 0.2); /* Adjusted the shadow */
}

.icon-text {
  font-size: 0.7em;
  text-align: center;
  padding-top: 0.5em;
}

h2 {
  font-weight: 400;
  text-align: left;
  width: 80%;
  color: var(--dark-blue)
}

.transaction {
  width: 125%;
}

.transaction-card {
  height: 1em;
  background-color: var(--white);
  border-radius: 1em;
  padding: 1em;
  padding-top: 0.8em;
  padding-bottom: 4em;
  box-shadow: 0.1em 0.1em rgba(67, 80, 89, 0.2); /* Adjusted the shadow */
  margin-bottom: 0.5em;
}

.transaction-name {
  font-size: 0.8em;
}

.transaction-date {
  font-size: 0.5em;
  padding-top: 0.5em;
}

.transaction-cat {
  margin-top: 0.2em;
  font-size: 0.5em;
}

.transaction-bank {
  font-size: 0.5em;
  font-weight: bold;
  padding-top: 0;
}

.transaction-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: 0;
}

.transaction-amount {
  font-size: 0.8em;
  padding-top: 0;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  background-color: var(--olive);
  padding-left: 0;
  border: none;
}

#home {
  color: var(--white);
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--white);
}

#home1 {
  color: var(--dark-green);
}

.home1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--dark-green);
}

.btn-1 {
  background-color: var(--dark-blue);
  color: var(--white);
}

.btn-1:active {
  background-color: var(--olive);
  color: var(--white);
}