:root {
  --darkest: rgb(28, 42, 24);
  --mid: rgb(0, 102, 0);
  --light: rgb(110, 234, 142);
  --white: rgb(233, 235, 237);
  --black: #222222;
  --accent: burlywood;
}

body {
  background: linear-gradient(300deg, var(--darkest), var(--light), var(--mid));
  background-size: 100% 100%;
  animation: gradientAnimation 30s ease infinite;
  margin: 0;
  padding: 0;
  color: var(--black)
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  padding: 2em;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--black);
  font-size: 2.2em;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  background-color: var(--accent);
  padding-left: 0;
  border: 0px;
}

.nav-link img {
  filter: invert(1) brightness(2);
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
  position: relative;
  padding: 0;
  margin: 0;
}

.calendar {
  width: 98%;
  border-radius: 1em;
  background-color: var(--darkest);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--light);
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  border-radius: 10px 10px 0 0;
}

.header button {
  background: none;
  border: none;
  color: var(--white);
  font-size: 1em;
  cursor: pointer;
}

.weekdays, .days {
  display: flex;
  flex-wrap: wrap;
}

.weekdays div, .days div {
  width: 14.28%;
  text-align: center;
  padding: 10px 0;
}

.weekdays div {
  font-weight: bold;
  color: var(--white);
}

.days div {
  border-radius: 50%;
  line-height: 2.1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.days div:hover {
  background-color: grey;
  cursor: pointer;
}

.current-date {
  background-color: var(--accent);
  color: var(--black);
}

.card::after {
  display: flex;
  margin-top: 10em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
  box-shadow: 0 10px 10px var(--darkest);

  
}

.card::before {
  display: none;
  margin-top: 10em;
  width: 100%;

}

.card {
  border-radius: 1em;

}

.category-container {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}
.category-container img {
  margin-right: 1em;
  width: 2em; /* Set a fixed width for clarity */
  height: 2em; /* Set a fixed height for clarity */
}

#expenditureContent {
  display: flex;
  width: 100%;
  padding: 0 3.7em;
  margin-top: 1em; 
  margin-bottom: 1em; 
  padding-bottom: 1em;
  background-color: var(--mid);
  color: var(--white);

}

#home {
  color: var(--mid);

}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--mid);
}

.home1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
}

h5 {
  color: var(--white);
}

#charts-container {
  padding: 1em;
  padding-bottom: 2em;
  margin-top: 0;
  background-color: var(--light);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-bottom: 5em;
  box-shadow: 0 -5px 10px var(--darkest);  /* Adjust values as needed */
  height: auto;
}

H2 {
  TEXT-ALIGN: CENTER
}