:root {
  --darkest: #1c2a18;
  --mid: #006600;
  --light: #6eea8e;
  --white: #E9EBED;
  --black: #222222;
  --accent: #826cf6;
}

body {
  background: linear-gradient(300deg, var(--darkest), var(--light), var(--mid));
  background-size: 100% 100%;
  animation: gradientAnimation 30s ease infinite;
  margin: 0;
  padding: 0;
  color: var(--white);
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  color: var(--white);
  font-size: 2.2em;
  margin: 0;
}

.prog {
  display: flex;
  gap: 0.5em;
}

.cats {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
  border-radius: 2.5em 2.5em 0 0;
  box-shadow: 0px 4px 16px rgba(63, 63, 63, 0.3);
  color: var(--black);
  padding-top: 1em;
}

.category-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  padding: 20px;
  justify-content: center;
}

.category {
  padding: 10px 15px;
  background-color: var(--accent);
  color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category:hover {
  background-color: #3600b3;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  gap: 0.5em; /* Space between buttons */
  margin-left: 8em;
  margin-right: 8em;
}


button {
  padding: 10px 20px;
  background-color: var(--mid);
  color: var(--white);
  border: none;
  border-radius: 3em;
  cursor: pointer;
  font-size: 1em;
  width: 100%; /* Full width of its container */
  max-width: 200px; /* Limit the maximum width */
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.selected-categories {
  background-color: var(--white);
  padding: 1em;
  border-radius: 10px;
  margin-top: 2em;
  box-shadow: 0px 4px 16px rgba(63, 63, 63, 0.3);
}

.selected-categories p {
  color: var(--mid);
}

.selected-category {
  background-color: var(--accent);
  color: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
}
