@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-blue: #435059;
  --dark-green: #7D8274;
  --olive: #A9A793;
  --blue: #9BC1C3;
  --white: #F6F8EF;
  --brown: #655C4E;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  color: var(--dark-blue);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
  

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  padding: 2em;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--dark-blue);
  font-size: 2.2em;
  margin: 0;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
  background-color: var(--olive);
  padding-left: 0;
  border: none;
}

.nav-link img {
  filter: invert(1) brightness(2);
}

.head2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom:1em;
}


.head2 h2 {
  color: var(--dark-blue);
  font-size: 1.2em;
}

button {
  background-color: var(--brown);
  box-shadow: 2px 2px 4px rgba(28,42,24, 0.4); /* Add text shadow */
  color: var(--white);
  font-weight: bold;
  width: 50%;
  letter-spacing: 1px;
}


#home {
  color: var(--white);
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--white);
}

#home1 {
  color: var(--dark-green);
}

.home1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-radius: 1em;
  padding: 0.5em;
  color: var(--dark-green);
}
