:root {
    --darkest: #1c2a18;
    --mid: #006600;
    --light: #6eea8e;
    --white: #E9EBED;
    --black: #222222;
    --accent: #826cf6;
  }
  
  body {
    background-color: var(--darkest);
    color: var(--light);
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    padding: 2em;
  }
  
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    color: var(--white);
    font-size: 2.2em;
    margin: 0;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    background-color: var(--accent);
    padding-left: 0;
    border: none;
  }

  .nav-item {
    gap: 10em;
  }
  
  .nav-link img {
    filter: invert(1) brightness(2);
  }

  .head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    align-items: center;
  }

  .yeet {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: auto;
    align-items: center;
  }

  h2 {
    color: var(--white);
  }

  .btn-custom {
    background-color: var(--light);
    width: 50%;
  }
  
  #home {
    color: var(--light);
  
  }
  
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    border-radius: 1em;
    padding: 0.5em;
    color: var(--light);
  }

  .home1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    border-radius: 1em;
    padding: 0.5em;
  }
  
  .goal-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: var(--mid);
    gap: 1em;
    padding: 0;
    border-radius: 1em;
    color: var(--white);
}

h5 {
  color: var(--white)
}

.delete-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.dates {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
}


.dates h3 {
    margin-top: 1em;
    color: var(--light);
    font-size: 0.8em;
}

.transaction-card {
    margin-bottom: 0.5em;
    background-color: var(--white);
    border-radius: 1em;
    color: var(--darkest);
    font-size: 0.85em;
}

h5 {
    color: var(--accent);;
    margin-top: 0;
    padding: 0;
}