:root {
    --darkest: #1c2a18;
    --mid: #006600;
    --light: #6eea8e;
    --white: #E9EBED;
    --black: #222222;
    --accent: #826cf6;
  }
  
  body {
    background-color: var(--darkest);
    color: var(--light);
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    padding: 2em;
  }
  
  .head {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    color: var(--white);
    font-size: 2.2em;
    margin: 0;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    background-color: var(--accent);
    padding-left: 0;
    border: none;
  }
  
  .nav-link img {
    filter: invert(1) brightness(2);
  }

  .head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .head2 h2 {
    color: var(--white);
  }

  #goal-count {
    color: var(--accent);
  }

  .btn-custom1 {
    background-color: var(--accent);
    color: var(--white);
    width: 50%;
  }

  .btn-info {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--white);
  }

  .btn-secondary {
    color: var(--white);
  }

  
  #home {
    color: var(--light);
  
  }
  
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    border-radius: 1em;
    padding: 0.5em;
    color: var(--light);
  }
  
  .home1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    border-radius: 1em;
    padding: 0.5em;
  }
  
  .goal-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: var(--mid);
    gap: 1em;
    padding: 0;
    border-radius: 1em;
    color: var(--white);
}

.delete-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.svg-icons {
    display: flex;
    gap: 10px;
}

#goals-container {
    width: 100%;
}

.card {
    width: 100%;
    background-color: var(--mid);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
}

.goal-name, .goal-amount, .current-amount {
    font-size: 1em;
}

.card-body h5 {
    padding: 0;
    margin-top: 1em;
    color: var(--white);
    font-weight: bold;
}

.card-body p {
    padding: 0;
    margin: 0;
}

.progress {
    width: 90%;
    height: 1em;
    background-color: var(--darkest); /* Background color of the progress bar container */
    border-radius: 1em; /* Rounded corners */
    padding: 0;
    margin: 0.5em;
}

.progress-bar {
    height: 100%;
    width: 0; /* Start with no visible progress */
    background-color: var(--light); /* Color of the progress bar */
    border-radius: 1em; /* Rounded corners */
}

.btn-eye {
    color: var(--light);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
    margin-top: 0;
}

.btn-edit {
    color: var(--light);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
    margin-top: 0;
}

#goal-form, #edit-form {
    color: var(--darkest)
}

.btns {
    gap: 1em;
    margin: 0.5em;
    margin-top: 1em;
}

.yeet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
